body {
  margin: 0;
  padding: 0;
  background-image: url('./img/img_cyber.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  position: relative;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.buttons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.buttons img {
  max-width: 100%;
  height: auto;
}

.bottom-buttons {
  display: flex;
  width: 100%;
}

.bottom-button {
  flex: 1;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1E90FF;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.ad-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

@media screen and (max-width: 768px) {
  .ad-container {
    padding: 10px 0;
  }
}

